.container {
	display: flex;
	flex-direction: column;
}

.constructor_list {
	display: grid;
	grid-template-columns: 1fr;
	flex-grow: 1;
	gap: 16px;
}

.sublist {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	max-height: 464px;
	overflow-y: scroll;
}

.total {
	display: flex;
	justify-content: flex-end;
}

.price_container {
	display: flex;
	align-items: center;
	gap: 5px;
}
