.container {
	display: flex;
	flex-direction: column;
}

.constructor_list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

.placeholder {
	background-color: #1c1c21;
	border-radius: 40px;
}

.bun_top {
	border-top-left-radius: 88px;
	border-top-right-radius: 88px;
}

.bun_bottom {
	border-bottom-left-radius: 88px;
	border-bottom-right-radius: 88px;
}

.sublist {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	max-height: 464px;
	overflow-y: auto;
}

.total {
	display: flex;
	justify-content: flex-end;
}

.price_container {
	display: flex;
	align-items: center;
	gap: 5px;
}
