.status_container {
	display: flex;
	gap: 60px;
}

.list_container {
	display: flex;
	gap: 24px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.list_done_item {
	color: #00cccc;
}

.total_digits {
	text-shadow: 0 0 16px rgb(76 76 255);
}
